.box {
    width: 400px;
    height: 600px;
    background-color: peachpuff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.loginText {
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
    font-family: monospace;
    margin-bottom: 50px;

}

.inputFields {
    font-family: monospace;
    display: block;
    border-color: black;
    margin-top: 30px;
    text-align: center;
    font-size: 1.3em;
}

input {
    border-radius: 10px;
    padding: 5px;
    width: 250px;
    border-width: 1px;
    text-align: left;
    padding-left: 10px;
}


.buttons {
    margin-top: 20px;
    text-align: center;
}

button {
    font-family: monospace;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 10px;
    border-width: 1px;
    background-color: #ffffff;
    cursor: pointer;
}

.registration {
    margin-top: 40px;
    text-align: center;
    font-family: monospace;
    font-size: 1em;
}

.inputFields2 {
    font-family: monospace;
    display: block;
    border-color: black;
    margin-top: 10px;
    text-align: center;
    font-size: 1.3em;
}

.loginText2 {
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
    font-family: monospace;
    margin-bottom: 30px;

}

.login {
    margin-top: 20px;
    text-align: center;
    font-family: monospace;
    font-size: 1em;
}

.buttons2 {
    margin-top: 5px;
    text-align: center;
}

.alert_alert-primary{
    margin-top: 90px;
    text-align: center;
    font-family: monospace;
    font-size: 1em;
}