<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <title>Registration Page</title>
</head>

<body>

    <form class="form_container" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if messages %}
        <div class="alert_alert-primary" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}


    <div class="box">
    
            <h1 class="loginText2">Atlanta Food Finder</h1>

            <div class="inputFields2">
                <label for="first_name" class="labels">First Name:</label><br>
                <input class="textInput" type="text" id="first_name" placeholder="Enter First name" name="first_name"
                    required><br><br>
            </div>

            <div class="inputFields2">
                <label for="last_name" class="labels">Last Name:</label><br>
                <input class="textInput" type="text" id="last_name" placeholder="Enter Last name" name="last_name"
                    required><br><br>
            </div>

            <div class="inputFields2">
                <label for="email" class="labels">Email:</label><br>
                <input class="textInput" type="email" id="email" placeholder="Enter Email" name="email"
                    required><br><br>
            </div>

            <div class="inputFields2">
                <label for="username" class="labels">Username:</label><br>
                <input class="textInput" type="text" id="username" placeholder="Enter username" name="username"
                    required><br><br>
            </div>

            <div class="inputFields2">
                <label for="password" class="labels">Password:</label><br>
                <input class="textInput" type="password" id="password" placeholder="Enter password" name="password"
                    required><br><br>
            </div>


            <div class="buttons2">
                <button type="submit">Submit</button>
            </div>

            <p class="login">Already have an account <a href="/login/">Login</a></p>
        </form>
    </div>


</body>

</html>