{% load static %}
<link rel="stylesheet" href="{% static 'login/style.css' %}">

<!DOCTYPE html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="style.css">
    </head>
<body>
    <div class="title">
        <h1>Atlanta Food Finder</h1>
    </div>
    <div class="loginParts">
    <form>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <div class="buttons">
            <input type="submit" value="Login">
            <button type="button" onclick="resetPassword()">Reset Password</button>
        </div>
    </form>
    </div>
    <div class="register">
        <hr class="short-hr">
        <p>Don't have an account? <a href="signup.html">Sign up</a></p>
    </div>
</body>
    <script>
    function resetPassword() {
        // Add your reset password logic here
        alert("Reset password functionality is not implemented yet.");
    }
    </script>
</html>
