.top-bar {
    width: 100%;
    height: 60px; /* Adjust the height as needed */
    background-color: peachpuff; /* Peach color */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.button{
    font-family: monospace;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 10px;
    border-width: 1px;
    background-color: #ffffff;
    cursor: pointer;
}

.button:hover {
    background-color: lightgray;
}

body, .top-bar {
    margin: 0;
    padding: 0;
}

.userdisplay {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: max-content;
    text-align: center;
    background-color: peachpuff;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.favorites {
    margin-top: 50px;
    margin-bottom:50px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 50%;
    text-align: center;
    background-color: peachpuff;
    font-family: monospace;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.fav-title {
    padding: 10px;
    font-size: 1.6em;
}

.fav-restaurant {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;

}

.restaurantPic{
    background-color: white;
    width: 100px;
    height: 100px;  
    margin: 10px;
}

.restaurantInfo {
    background-color: white;
    width: 70%;
    height: 100px;
    margin: 10px;
}