<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
    <link rel="stylesheet" href="{% static 'styleForReview.css' %}">
</head>

<body>
    <div class="banner">
        <div class="banner_content">
                <div class="title">
                    <h1>Atlanta Food Finder</h1>
                    <h2>Restaurant Reviews</h2>
                </div>
        </div>
        <div class="navigation">
            <button type="submit" class="button2">Back to Search</button>
        </div>

    </div>

    <div class="reviewBox">
    {% if reviews %}
        <ul>
        {% for review in reviews %}
            <li>
                <strong>Rating: {{ review.rating }} / 5</strong>
                <p>{{ review.text }}</p>
                <p>Reviewed by: {{ review.author_name }} on {{ review.relative_time_description }}</p>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No reviews found for this restaurant.</p>
    {% endif %}
    </div>
</body>