<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Search</title>
    <link rel="stylesheet" href="{% static 'styleForSearch.css' %}">
</head>
<body>
    <div class="title">
        <h1>Find Restaurants Near You</h1>

    </div>
    
    <div class="searchForm">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    </div>
</body>
</html>
